<html>
<head>
<link href="//fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/boards.css"
	media="screen,projection" />

</head>
<body>
	<div id="header" class="z-depth-1"><a class="logout" href="/logout">logout</a><a href="http://localhost:9090/">JWP-Trello</a></div>
 	   <div id="profile" >
 	   		<div class="thumb">
 	   			 <img class="thumb_photo" th:src="@{'http://graph.facebook.com/'+${user.fbId}+'/picture?type=large&width=60&height=60'}">
 	   			
 	   			
 	   		</div>
 	   		<div class="user_info" th:text="${user.username}">My Boards</div>
 	   		<!-- <div class="user_info" th:text="${user.username}+'\'s boards'">My Boards</div> -->
 	  
 	   </div>
 	   <div id="my_board"></div>
  	 <input type="hidden" class="userId" th:value=${user.id}>
	  <ul id="boards_list">
          <ul th:each="board: ${boards}">
            <li class="board project_1 waves-effect waves-light btn">
            	<a th:href="|/boards/board/${board.boardId}/${user.id}|" th:text="${board.boardName}">First Project</a></li>
          </ul>
             <div class="add_project not_sortable" >
               <a class="btn-floating btn-large waves-effect waves-light red add_project_btn">
                      <i class="material-icons">add</i>
                </a>
                  <form class="add_project_form">
                    <div class="input-field col s12">
                        <input id="add_project" type="text" class="validate">
                          <label for="list_name">Add a Project...</label></br>
                           <a class="waves-effect waves-light btn save blue-grey lighten-5">save</a>
                           <a class="waves-effect waves-light btn cancel blue-grey lighten-5">cancel</a>
                    </div>
                  </form>
              </div>
 		  </ul>

	<script type="text/javascript" src="/lib/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/lib/materialize.min.js"></script>
	<script type="text/javascript" src="/js/boards.js"></script>

</body>
</html>
